openapi: 3.1.0
info:
  title: TrueMarket API
  version: v1
  description: |
    Контракт REST API маркетплейса TrueMarket. **Single source of truth** для API.

    Принципы:
      - Все ID — UUID v4.
      - Все суммы — `numeric(12,2)` в рублях с копейками.
      - Все timestamps — ISO 8601 в UTC.
      - Пагинация — cursor-based (`limit` + `next_cursor`), не offset-based.
      - Ошибки — RFC 7807 (`application/problem+json`).
      - Аутентификация — Bearer JWT (access token TTL 15 мин).

    На Phase 0 OpenAPI содержит **скелет** — пути, методы, базовые схемы.
    Полные тела ответов / детальные схемы достраиваются в фазах 1–4 параллельно с реализацией.
  contact:
    name: TrueMarket Tech Lead
  license:
    name: Proprietary

servers:
  - url: https://api.truemarket.ru/api/v1
    description: Production
  - url: https://api.staging.truemarket.ru/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Local

security:
  - bearerAuth: []

tags:
  - name: auth
    description: Аутентификация и регистрация (CLAUDE.md 13.1)
  - name: users
    description: Профиль пользователя
  - name: sellers
    description: Регистрация и верификация продавцов
  - name: categories
    description: Каталог категорий
  - name: products
    description: Товары и поиск
  - name: cart
    description: Корзина покупателя
  - name: orders
    description: Заказы и lifecycle (CLAUDE.md 5.5)
  - name: payments
    description: Платежи, эскроу, чеки 54-ФЗ
  - name: delivery
    description: Трекинг и адреса доставки
  - name: reviews
    description: Отзывы и анти-накрутка
  - name: admin
    description: Модерация и споры
  - name: webhooks
    description: Входящие вебхуки (ЮKassa, СДЭК, ...)

# ============================================================================
# PATHS — Phase 0 скелет. Тела/детали достраиваются на каждой фазе.
# ============================================================================
paths:

  # ===== AUTH =================================================================
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация покупателя
      description: >-
        Пароль проверяется по базе утечек haveibeenpwned (CLAUDE.md §13.1);
        скомпрометированный пароль → 400. При недоступности HIBP проверка
        пропускается (fail-open).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: Created
          content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/login:
    post:
      tags: [auth]
      summary: Логин по email/password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /auth/refresh:
    post:
      tags: [auth]
      summary: Обновление access-токена через refresh-токен (с ротацией)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      tags: [auth]
      summary: Отзыв refresh-токена
      responses:
        '204': { description: No Content }

  /auth/change-password:
    post:
      tags: [auth]
      summary: Смена пароля (аутентифицированный пользователь)
      description: >-
        Требует Bearer access-токен. Подтверждает текущий пароль, проверяет новый по
        базе утечек (haveibeenpwned) и длине ≥12, затем отзывает все refresh-токены
        пользователя (logout everywhere).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string }
                new_password: { type: string, minLength: 12, description: 'Минимум 12 символов (CLAUDE.md 13.1)' }
      responses:
        '204': { description: No Content }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ===== USERS ================================================================
  /users/me:
    get:
      tags: [users]
      summary: Профиль текущего пользователя
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/User' } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      tags: [users]
      summary: Обновить профиль
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserUpdate' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }

  /users/me/consents:
    get:
      tags: [users]
      summary: Согласия пользователя (152-ФЗ)
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/UserConsent' } } } } }
    post:
      tags: [users]
      summary: Принять согласие новой версии
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [consent_type, version]
              properties:
                consent_type: { type: string, example: pdn-processing }
                version: { type: string, example: pdn-v1.0 }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/UserConsent' } } } }

  /users/me/delete:
    post:
      tags: [users]
      summary: Запрос на удаление аккаунта (152-ФЗ)
      description: Запускает процедуру soft-delete + анонимизации в течение 30 дней.
      responses:
        '202': { description: Accepted }

  # ===== SELLERS / VERIFICATION ==============================================
  /sellers:
    post:
      tags: [sellers]
      summary: Регистрация продавца (ИП или ООО)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SellerRegistration' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Seller' } } } }
        '409': { $ref: '#/components/responses/Conflict' }

  /sellers/me:
    get:
      tags: [sellers]
      summary: Профиль продавца (текущий пользователь)
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Seller' } } } }
        '404': { $ref: '#/components/responses/NotFound' }

  /sellers/me/documents:
    get:
      tags: [sellers]
      summary: Загруженные верификационные документы
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/VerificationDocument' } } } } }
    post:
      tags: [sellers]
      summary: Загрузить документ для верификации
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [doc_type, file]
              properties:
                doc_type: { type: string, enum: [egrul_extract, egrip_extract, passport, charter, power_of_attorney] }
                file: { type: string, format: binary }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/VerificationDocument' } } } }

  # ===== CATEGORIES ===========================================================
  /categories:
    get:
      tags: [categories]
      summary: Дерево категорий
      security: []
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Category' } } } } }

  /categories/{id}:
    get:
      tags: [categories]
      summary: Категория по ID
      security: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Category' } } } }
        '404': { $ref: '#/components/responses/NotFound' }

  # ===== PRODUCTS =============================================================
  /products:
    get:
      tags: [products]
      summary: Поиск товаров
      security: []
      parameters:
        - { in: query, name: q, schema: { type: string }, description: 'Поисковый запрос (Meilisearch, ADR-002)' }
        - { in: query, name: category_id, schema: { type: string, format: uuid } }
        - { in: query, name: seller_id, schema: { type: string, format: uuid } }
        - { in: query, name: price_min, schema: { type: number } }
        - { in: query, name: price_max, schema: { type: number } }
        - { in: query, name: sort, schema: { type: string, enum: [relevance, price_asc, price_desc, rating_desc, new] } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 100, default: 24 } }
        - { in: query, name: cursor, schema: { type: string } }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { $ref: '#/components/schemas/ProductPage' } } }

    post:
      tags: [products]
      summary: Создать товар (продавец)
      description: |
        Для категорий с `requires_marking=true` обязателен `mark_code` (Data Matrix).
        См. CLAUDE.md 5.3.2 и docs/tasks/TASK-042 как образец.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductCreate' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Product' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422':
          description: 'Маркировочный код отсутствует/невалиден для маркированной категории'
          content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  /products/{id}:
    get:
      tags: [products]
      summary: Товар по ID
      security: []
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Product' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [products]
      summary: Обновить товар (продавец-владелец)
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ProductUpdate' } } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Product' } } } }
    delete:
      tags: [products]
      summary: Архивировать товар (soft delete)
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '204': { description: No Content }

  /products/{id}/images:
    post:
      tags: [products]
      summary: Загрузить фото товара
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                is_primary: { type: boolean, default: false }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/ProductImage' } } } }

  # ===== CART =================================================================
  /cart:
    get:
      tags: [cart]
      summary: Корзина покупателя
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Cart' } } } }

  /cart/items:
    post:
      tags: [cart]
      summary: Добавить товар в корзину
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, qty]
              properties:
                product_id: { type: string, format: uuid }
                qty: { type: integer, minimum: 1 }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Cart' } } } }

  /cart/items/{item_id}:
    patch:
      tags: [cart]
      summary: Изменить количество
      parameters: [{ in: path, name: item_id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, properties: { qty: { type: integer, minimum: 1 } } } } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Cart' } } } }
    delete:
      tags: [cart]
      summary: Удалить позицию из корзины
      parameters: [{ in: path, name: item_id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '204': { description: No Content }

  # ===== ORDERS ===============================================================
  /orders:
    get:
      tags: [orders]
      summary: Заказы текущего пользователя (покупателя или продавца)
      parameters:
        - { in: query, name: status, schema: { $ref: '#/components/schemas/OrderStatus' } }
        - { in: query, name: limit, schema: { type: integer, default: 20 } }
        - { in: query, name: cursor, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/OrderPage' } } } }

    post:
      tags: [orders]
      summary: Создать заказ из корзины
      description: |
        Создаёт заказ в статусе `created` и инициализирует платёжную сессию.
        Идемпотентность через заголовок `Idempotency-Key`.
      parameters:
        - { in: header, name: Idempotency-Key, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreate' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } } }

  /orders/{id}:
    get:
      tags: [orders]
      summary: Детали заказа
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } } }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders/{id}/cancel:
    post:
      tags: [orders]
      summary: Отменить заказ (до confirmed)
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } } }
        '409': { description: 'Невозможный переход статуса', content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } } }

  /orders/{id}/ship:
    post:
      tags: [orders]
      summary: Отметить заказ как отгруженный (продавец)
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [carrier, tracking_number]
              properties:
                carrier: { $ref: '#/components/schemas/Carrier' }
                tracking_number: { type: string }
                mark_codes: { type: array, items: { type: string }, description: 'Передача в Честный ЗНАК (для маркированных товаров)' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } } }

  /orders/{id}/confirm-delivery:
    post:
      tags: [orders]
      summary: Покупатель подтверждает получение → release эскроу
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Order' } } } }

  # ===== PAYMENTS =============================================================
  /payments/{order_id}/init:
    post:
      tags: [payments]
      summary: Инициировать платёж по заказу (ЮKassa)
      parameters:
        - { in: path, name: order_id, required: true, schema: { type: string, format: uuid } }
        - { in: header, name: Idempotency-Key, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_id: { type: string, format: uuid }
                  confirmation_url: { type: string, format: uri }
                  amount: { type: number }

  /payments/{id}:
    get:
      tags: [payments]
      summary: Статус платежа
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Payment' } } } }

  /payments/{id}/receipts:
    get:
      tags: [payments]
      summary: Фискальные чеки по платежу
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/FiscalReceipt' } } } } }

  # ===== DELIVERY =============================================================
  /addresses:
    get:
      tags: [delivery]
      summary: Адреса доставки пользователя
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Address' } } } } }
    post:
      tags: [delivery]
      summary: Добавить адрес
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/AddressInput' } } }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Address' } } } }

  /addresses/{id}:
    patch:
      tags: [delivery]
      summary: Обновить адрес
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/AddressInput' } } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Address' } } } }
    delete:
      tags: [delivery]
      summary: Удалить адрес
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '204': { description: No Content }

  /deliveries/{order_id}/tracking:
    get:
      tags: [delivery]
      summary: События трекинга заказа (ADR-005)
      parameters: [{ in: path, name: order_id, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  carrier: { $ref: '#/components/schemas/Carrier' }
                  tracking_number: { type: string }
                  events: { type: array, items: { $ref: '#/components/schemas/TrackingEvent' } }

  # ===== REVIEWS ==============================================================
  /products/{product_id}/reviews:
    get:
      tags: [reviews]
      summary: Отзывы на товар
      security: []
      parameters:
        - { in: path, name: product_id, required: true, schema: { type: string, format: uuid } }
        - { in: query, name: limit, schema: { type: integer, default: 20 } }
        - { in: query, name: cursor, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ReviewPage' } } } }

  /orders/{order_id}/review:
    post:
      tags: [reviews]
      summary: Оставить отзыв (один заказ = один отзыв, требует verified_purchase)
      parameters: [{ in: path, name: order_id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReviewInput' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Review' } } } }
        '409':
          description: 'Отзыв на этот заказ уже оставлен или заказ не в статусе delivered'
          content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  /reviews/{id}/vote:
    post:
      tags: [reviews]
      summary: Голос за полезность отзыва
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vote: { type: integer, enum: [1, -1] }
      responses:
        '204': { description: No Content }

  # ===== ADMIN ================================================================
  /admin/sellers/{id}/verify:
    post:
      tags: [admin]
      summary: Утвердить или отклонить верификацию продавца
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision: { type: string, enum: [approve, reject] }
                reason: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Seller' } } } }

  /admin/disputes:
    get:
      tags: [admin]
      summary: Открытые споры
      parameters:
        - { in: query, name: status, schema: { type: string } }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Dispute' } } } } }

  /admin/disputes/{id}/resolve:
    post:
      tags: [admin]
      summary: Разрешить спор
      parameters: [{ in: path, name: id, required: true, schema: { type: string, format: uuid } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolution]
              properties:
                resolution: { type: string, enum: [refund_buyer, release_to_seller, partial_refund] }
                amount: { type: number, description: 'Для partial_refund' }
                comment: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Dispute' } } } }

  # ===== WEBHOOKS =============================================================
  /webhooks/yookassa:
    post:
      tags: [webhooks]
      summary: Webhook ЮKassa (платежи, чеки)
      security: []
      description: Подпись проверяется через `X-Yookassa-Signature` (HMAC-SHA256 с секретом).
      requestBody:
        required: true
        content: { application/json: {} }
      responses:
        '200': { description: OK }

  /webhooks/cdek:
    post:
      tags: [webhooks]
      summary: Webhook СДЭК (события трекинга)
      security: []
      requestBody:
        required: true
        content: { application/json: {} }
      responses:
        '200': { description: OK }

# ============================================================================
# COMPONENTS
# ============================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema: { type: string, minLength: 16, maxLength: 64 }

  responses:
    BadRequest:
      description: Bad Request
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Unauthorized:
      description: Unauthorized
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Forbidden
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    NotFound:
      description: Not Found
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Conflict:
      description: Conflict
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    TooManyRequests:
      description: Rate limit exceeded
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  schemas:
    Problem:
      type: object
      description: RFC 7807
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        trace_id: { type: string }
      example:
        type: 'https://docs.truemarket.ru/errors/validation'
        title: 'Validation Failed'
        status: 400
        detail: 'field email is invalid'
        trace_id: 'a1b2c3d4'

    # ===== AUTH =====
    RegisterRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        phone: { type: string, pattern: '^\+?[0-9]{10,15}$' }
        password: { type: string, minLength: 12, description: 'Минимум 12 символов (CLAUDE.md 13.1)' }
        accept_pdn_consent: { type: boolean, description: 'Согласие на обработку ПДн (152-ФЗ)' }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    TokenPair:
      type: object
      properties:
        access_token: { type: string, description: 'JWT, TTL 15 минут' }
        refresh_token: { type: string, description: 'TTL 30 дней, с ротацией' }
        expires_in: { type: integer, description: 'секунды до expiry access_token' }
        token_type: { type: string, enum: [Bearer] }

    # ===== USERS =====
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        phone: { type: string }
        role: { type: string, enum: [buyer, seller, moderator, admin] }
        email_verified: { type: boolean }
        phone_verified: { type: boolean }
        created_at: { type: string, format: date-time }

    UserUpdate:
      type: object
      properties:
        phone: { type: string }

    UserConsent:
      type: object
      properties:
        id: { type: string, format: uuid }
        consent_type: { type: string }
        version: { type: string }
        accepted_at: { type: string, format: date-time }
        revoked_at: { type: string, format: date-time, nullable: true }

    # ===== SELLERS =====
    SellerLegalForm:
      type: string
      enum: [ip, ooo]

    SellerRegistration:
      type: object
      required: [legal_form, legal_name, inn, tax_system, contact_email]
      properties:
        legal_form: { $ref: '#/components/schemas/SellerLegalForm' }
        legal_name: { type: string }
        inn: { type: string, pattern: '^[0-9]{10,12}$' }
        ogrn: { type: string, pattern: '^[0-9]{13,15}$' }
        tax_system: { type: string, enum: [OSN, USN, PSN, ESHN] }
        contact_email: { type: string, format: email }
        contact_phone: { type: string }
        accept_agent_offer: { type: boolean, description: 'Согласие на агентский договор-оферту (ADR-008)' }

    Seller:
      type: object
      properties:
        id: { type: string, format: uuid }
        legal_form: { $ref: '#/components/schemas/SellerLegalForm' }
        legal_name: { type: string }
        inn: { type: string }
        ogrn: { type: string }
        tax_system: { type: string }
        verification_status: { type: string, enum: [pending, in_review, approved, rejected] }
        trust_level: { $ref: '#/components/schemas/DeliveryTier' }
        contact_email: { type: string }
        created_at: { type: string, format: date-time }

    VerificationDocument:
      type: object
      properties:
        id: { type: string, format: uuid }
        doc_type: { type: string }
        status: { type: string, enum: [pending, in_review, approved, rejected] }
        uploaded_at: { type: string, format: date-time }
        reviewed_at: { type: string, format: date-time, nullable: true }
        reject_reason: { type: string, nullable: true }

    DeliveryTier:
      type: string
      enum: [verified_local, trusted, national, all_russia]

    # ===== CATALOG =====
    Category:
      type: object
      properties:
        id: { type: string, format: uuid }
        parent_id: { type: string, format: uuid, nullable: true }
        slug: { type: string }
        name: { type: string }
        commission_base: { type: number, example: 0.12 }
        requires_marking: { type: boolean }
        children: { type: array, items: { $ref: '#/components/schemas/Category' } }

    Product:
      type: object
      properties:
        id: { type: string, format: uuid }
        seller_id: { type: string, format: uuid }
        category_id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        price_amount: { type: number }
        price_currency: { type: string, default: RUB }
        stock: { type: integer }
        requires_marking: { type: boolean }
        gtin: { type: string, nullable: true }
        status: { type: string, enum: [draft, published, archived] }
        verified_at: { type: string, format: date-time, nullable: true }
        images: { type: array, items: { $ref: '#/components/schemas/ProductImage' } }
        rating_avg: { type: number, nullable: true }
        rating_count: { type: integer }

    ProductImage:
      type: object
      properties:
        id: { type: string, format: uuid }
        url: { type: string, format: uri }
        alt_text: { type: string }
        is_primary: { type: boolean }
        position: { type: integer }

    ProductCreate:
      type: object
      required: [category_id, title, price_amount]
      properties:
        category_id: { type: string, format: uuid }
        title: { type: string, maxLength: 256 }
        description: { type: string }
        price_amount: { type: number, minimum: 0 }
        stock: { type: integer, minimum: 0 }
        gtin: { type: string }
        mark_code: { type: string, description: 'Data Matrix — обязателен для requires_marking=true категорий' }

    ProductUpdate:
      type: object
      properties:
        title: { type: string }
        description: { type: string }
        price_amount: { type: number }
        stock: { type: integer }
        status: { type: string, enum: [draft, published, archived] }

    ProductPage:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Product' } }
        next_cursor: { type: string, nullable: true }

    # ===== CART =====
    Cart:
      type: object
      properties:
        id: { type: string, format: uuid }
        items: { type: array, items: { $ref: '#/components/schemas/CartItem' } }
        total_amount: { type: number }

    CartItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        product: { $ref: '#/components/schemas/Product' }
        qty: { type: integer }
        subtotal: { type: number }

    # ===== ORDERS =====
    OrderStatus:
      type: string
      enum: [created, paid, confirmed, shipped, in_transit, delivered, completed, cancelled, return_requested, returned, refunded, disputed, resolved]

    OrderCreate:
      type: object
      required: [delivery_address_id, delivery_carrier]
      properties:
        delivery_address_id: { type: string, format: uuid }
        delivery_carrier: { $ref: '#/components/schemas/Carrier' }
        notes: { type: string }

    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_number: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        buyer_id: { type: string, format: uuid }
        seller_id: { type: string, format: uuid }
        items: { type: array, items: { $ref: '#/components/schemas/OrderItem' } }
        total_amount: { type: number }
        commission_amount: { type: number }
        shipping_amount: { type: number }
        delivery_address: { $ref: '#/components/schemas/Address' }
        delivery_carrier: { $ref: '#/components/schemas/Carrier' }
        created_at: { type: string, format: date-time }
        paid_at: { type: string, format: date-time, nullable: true }
        delivered_at: { type: string, format: date-time, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }

    OrderItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        product_id: { type: string, format: uuid }
        title_snapshot: { type: string }
        price_snapshot: { type: number }
        qty: { type: integer }
        vat_rate: { type: string, enum: [none, vat_0, vat_10, vat_20] }

    OrderPage:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Order' } }
        next_cursor: { type: string, nullable: true }

    # ===== PAYMENTS =====
    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        amount: { type: number }
        status: { type: string, enum: [pending, authorized, captured, released, refunded, failed] }
        provider: { type: string }
        payment_method: { type: string }
        created_at: { type: string, format: date-time }
        captured_at: { type: string, format: date-time, nullable: true }
        released_at: { type: string, format: date-time, nullable: true }

    FiscalReceipt:
      type: object
      properties:
        id: { type: string, format: uuid }
        payment_id: { type: string, format: uuid }
        receipt_type: { type: string, enum: [prepayment, full_payment, refund] }
        fiscal_document_id: { type: string, nullable: true }
        total_amount: { type: number }
        receipt_url: { type: string, format: uri, nullable: true }
        sent_at: { type: string, format: date-time, nullable: true }

    # ===== DELIVERY =====
    Carrier:
      type: string
      enum: [cdek, russian_post, boxberry, yandex_delivery, pickup, other]

    Address:
      type: object
      properties:
        id: { type: string, format: uuid }
        recipient: { type: string }
        phone: { type: string }
        postal_code: { type: string }
        country: { type: string, default: RU }
        region: { type: string }
        city: { type: string }
        street: { type: string }
        building: { type: string }
        apartment: { type: string }
        comment: { type: string }
        is_default: { type: boolean }

    AddressInput:
      type: object
      required: [recipient, phone, postal_code, city]
      properties:
        recipient: { type: string }
        phone: { type: string }
        postal_code: { type: string }
        country: { type: string, default: RU }
        region: { type: string }
        city: { type: string }
        street: { type: string }
        building: { type: string }
        apartment: { type: string }
        comment: { type: string }
        is_default: { type: boolean }

    TrackingEvent:
      type: object
      properties:
        event_type: { type: string, enum: [created, picked_up, in_transit, at_destination, delivered, delivery_failed, returned_to_sender] }
        location: { type: string }
        description: { type: string }
        occurred_at: { type: string, format: date-time }

    # ===== REVIEWS =====
    ReviewInput:
      type: object
      required: [rating]
      properties:
        rating: { type: integer, minimum: 1, maximum: 5 }
        text: { type: string, maxLength: 4000 }

    Review:
      type: object
      properties:
        id: { type: string, format: uuid }
        product_id: { type: string, format: uuid }
        rating: { type: integer }
        text: { type: string }
        verified_purchase: { type: boolean, default: true }
        author_initials: { type: string, description: 'Анонимизировано для публичного API' }
        photos: { type: array, items: { type: string, format: uri } }
        helpful_count: { type: integer }
        created_at: { type: string, format: date-time }

    ReviewPage:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Review' } }
        next_cursor: { type: string, nullable: true }
        rating_distribution:
          type: object
          properties:
            '1': { type: integer }
            '2': { type: integer }
            '3': { type: integer }
            '4': { type: integer }
            '5': { type: integer }

    # ===== ADMIN =====
    Dispute:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        opened_by: { type: string, format: uuid }
        assigned_to: { type: string, format: uuid, nullable: true }
        status: { type: string }
        reason: { type: string }
        description: { type: string }
        resolution: { type: string, nullable: true }
        opened_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }
